<div class="row">
  <div class="col col-md-3 d-none d-sm-none d-md-block p-0">
    <div class="bg-secondary p-3 text-center text-light">
      <div class="p-3">
        <img class="profile-icon-image" src="../../assets/usericon.png">
      </div>
      <b>Username</b>
    </div>
    <div class="bg-secondary p-3 text-center text-light mt-1">
      <b>Trending</b>
      <ul class="list-unstyled m-0">
        <li><a href="#" class="text-white">#fun</a></li>
        <li><a href="#" class="text-white">#jsf</a></li>
      </ul>
    </div>
  </div>
  <div class="col col-md-9 col-sm-12">
    <div class="tweets">
      <app-tweet></app-tweet>
      <app-tweet></app-tweet>
      <app-tweet></app-tweet>
    </div>
  </div>
</div>
