<div class="row">
  <div class="col col-md-3 d-none d-sm-none d-md-block p-0">
    <div class="bg-secondary p-3 text-center text-light">
      <div class="p-3">
        <img class="profile-icon-image" src="assets/{{user.picture}}">
      </div>
      <b>{{user.username}}</b>
    </div>
    <div class="bg-secondary p-3 text-center text-light mt-1">
      <b>Trending</b>
      <ul class="list-unstyled m-0">
        <li><a href="#" class="text-white">#placeholder</a></li>
        <li><a href="#" class="text-white">#placeholder</a></li>
        <li><a href="#" class="text-white">#placeholder</a></li>
        <li><a href="#" class="text-white">#placeholder</a></li>
        <li><a href="#" class="text-white">#placeholder</a></li>
      </ul>
    </div>
  </div>
  <div class="col col-md-9 col-sm-12">
    <form class="post-tweet bg-secondary p-3 p-3 text-light mb-3">
      What's on your mind?<br/>
      <div class="tweet-wrapper">
        <label class="w-100 mb-0">
          <textarea class="form-control" rows="3" placeholder="Type your message here..." [(ngModel)]="tweetText" maxlength="128" name="tweet-text"></textarea>
        </label>
        <div class="d-flex justify-content-end">
          <p class="mb-0 mr-3 text-right">{{tweetText.length}}/128</p>
          <button type="submit" class="btn btn-light" (click)="tweet()">Tweet</button>
        </div>

      </div>
    </form>
    <div class="tweet-scroller"
         infiniteScroll
         [infiniteScrollDistance]="scrollDistance"
         (scrolled)="onScroll()">
      <div class="tweets" *ngFor="let tweet of tweets">
        <app-tweet [tweet]="tweet"></app-tweet>
      </div>
    </div>
  </div>
</div>
